{% extends "base.html" %}
{% block content %}
    <!-- Main Start -->
    <main>
        <!-- Services -->
        <section class="container my-4">
            <div class="row">
                <div class="col-3">{% include "user/left-sidebar.html" %}</div>
                <div class="col-9">
                    <h3 class="mb-4 border-bottom pb-1">Update Profile</h3>
                    {% if msg %}<p class="text-success">{{ msg }}</p>{% endif %}
                    <form method="post" action="">
                        <table class="table table-bordered">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <tr>
                                <th>{{ form.first_name.label_tag }}</th>
                                <td>{{ form.first_name }}</td>
                            </tr>
                            {% if form.first_name.errors %}
                                <tr>
                                    <td colspan="2" class="alert alert-danger">{{ form.first_name.errors }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>{{ form.last_name.label_tag }}</th>
                                <td>{{ form.last_name }}</td>
                            </tr>
                            {% if form.last_name.errors %}
                                <tr>
                                    <td colspan="2" class="alert alert-danger">{{ form.last_name.errors }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>{{ form.email.label_tag }}</th>
                                <td>{{ form.email }}</td>
                            </tr>
                            {% if form.email.errors %}
                                <tr>
                                    <td colspan="2" class="alert alert-danger">{{ form.email.errors }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>{{ form.username.label_tag }}</th>
                                <td>{{ form.username }}</td>
                            </tr>
                            {% if form.username.errors %}
                                <tr>
                                    <td colspan="2" class="alert alert-danger">{{ form.username.errors }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>{{ form.phone_number.label_tag }}</th>
                                <td>{{ form.phone_number }}</td>
                            </tr>
                            {% if form.phone_number.errors %}
                                <tr>
                                    <td colspan="2" class="alert alert-danger">{{ form.phone_number.errors }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td colspan="2">
                                    <input type="submit" class="btn btn-primary" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </section>
        <!-- End -->
    </main>
    <!-- End -->
{% endblock content %}
