.responsive-img {
  width: 147px; /* Default size */
}

.plan-min-width {
  min-width: 20rem;
}

.plans-th-out {
  width: 34%;
}

.plans-th-in {
  width: 22%;
}

@media (max-width: 768px) {
  .responsive-img {
    width: 220px; /* Size when viewport is smaller */
  }
}
