{% load static %}
<html lang="en-US">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="gym, mughal" />
    <meta name="description" content="A local gym management system" />
    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- Bootstrap Icons -->
    <link href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}"
          rel="stylesheet" />
    <!-- Include jquery -->
    <script type="text/javascript" src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <title>Home - Mughal Gym</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          {% load static %}
          <img src="{% static 'imgs/mughal_gym_logo.png' %}"
               alt="logo"
               height="50px"
               width="100px" />
        </a>
        <!-- Change when find-->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          {% with request.resolver_match.url_name as url_name %}
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'home' %}active{% endif %}"
                   aria-current="page"
                   href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'gallery' %}active{% endif %}"
                   aria-current="page"
                   href="{% url 'gallery' %}">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'pricing' %}active{% endif %}"
                   href="{% url 'pricing' %}">Pricing</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link {% if url_name == 'equipment_list' %}active{% endif %}"
                     href="{% url 'equipment_list' %}">Equipments</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'enquiry' %}active{% endif %}"
                   href="{% url 'enquiry' %}">Contact Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarScrollingDropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">My Account</a>
                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  {% if not request.user.is_authenticated %}
                    <!--comment-->
                    {% if request.session.trainerLogin %}
                      <li>
                        <a class="dropdown-item" href="{% url 'trainer_dashboard' %}">Dashboard</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'trainerlogout' %}">Logout</a>
                      </li>
                    {% else %}
                      <li>
                        <a class="dropdown-item" href="{% url 'trainerlogin' %}">Trainer Login</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'signup' %}">Register</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                      </li>
                    {% endif %}
                  {% else %}
                    <li>
                      <a class="dropdown-item" href="{% url 'user_dashboard' %}">Dashboard</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'update_profile' %}">Profile</a>
                    </li>
                    {% comment %}
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    {% endcomment %}
                    <li>
                      <!-- Django 4.1 only supports POST for logout. -->
                      <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item">Logout</button>
                      </form>
                    </li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          {% endwith %}
        </div>
      </div>
    </nav>
    <!-- Header End -->
    {% block content %}
    {% endblock content %}
    <!-- Footer Start -->
    <footer class="container py-5">
      <p class="float-end mb-5">
        <a class="btn btn-outline-success text-black" href="#">Back to top</a>
      </p>
      <p>
        <a class="btn btn-outline-secondary" href="{% url 'pagedetail' 2 %}">Privacy</a>
        <a class="btn btn-outline-secondary" href="{% url 'pagedetail' 3 %}">Terms</a>
        <a class="btn btn-outline-secondary" href="{% url 'faq' %}">FAQ</a>
        <a class="btn btn-outline-secondary" href="{% url 'contact_page' %}">Contact Us</a>
      </p>
      <p class="text-align-center">© 2024 Copyright: MUGHAL FITNESS LEVELS GYM®</p>
    </footer>
    <!-- Bootstrap Bundle -->
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'popper.min.js' %}"></script>
  </body>
</html>
