{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Contact Us</h1>
			<div class="row">
				<div class="col-md-6">
					<table class="table table-bordered">
						<tr>
							<th>Address</th>
							<td>42P8+6F7, Qila Didar Singh Bypass, Mohallah Toheed Pura Qila Didar Singh, Gujranwala, Punjab 52250, Pakistan</td>
						</tr>
						<tr>
							<th>Mobile</th>
							<td>+1 123456799</td>
						</tr>
						<tr>
							<th>Telephone</th>
							<td>123 7894562</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>mughalgym@gmail.com</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6757.06268121696!2d74.01278365381145!3d32.135956887311345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391f321b1246d97f%3A0xf444f374c94ff5cd!2sMughal%20Gym%20%26%20Fitness%20Centre!5e0!3m2!1sen!2s!4v1707383046213!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}