{% extends 'base.html' %} {% block content %}
<!-- Main Start -->
<main>
  <!-- Services -->
  <section class="container my-4">
    <h1 class="text-center mb-4 section-heading border-bottom pb-2">Gallery</h1>
    <div class="row">
      {% for gallery in galleries %}
      <div class="col-md-4 mb-4 d-flex align-items-stretch">
        <div class="card">
          <img
            src="{{gallery.img.url}}"
            class="card-img-top"
            alt="{{gallery.title}}"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{gallery.title}}</h5>
            <p class="card-text">{{gallery.detail}}</p>
            <a
              href="{% url 'gallery_detail' gallery.id %}"
              class="btn btn-primary mt-auto"
              >View All</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- End -->
</main>
<!-- End -->
{% endblock %}
